* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  font-family: 'lato',sans-serif;
  background-image: url('https://media.giphy.com/media/DC5oGBcCa81Lg2FaJ2/giphy.gif');
  background-size: center;
  background-position: center;
}

h1 {
  font-size: 40px;
}

h1, h2 {
  display: inline;
  text-align: center;
  color: white;
  font-weight: 900;
}

h2 {
  margin: 10px;
}
.grid{
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  max-height: 600px;
  max-width: 600px;
}

.startScreen, .levelDisplay {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #3F69AA;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VOENE67sxikxs86k8/slow-pan-shot-to-earth-from-space-clip-contains-earth-space-florida-bahamas-caribbean-cuba-sun-planet-atmosphere-ocean-images-from-nasa_roeagqdol__F0006.png');
  background-size: cover;
  background-position: center;
}

.grid div {
  flex-grow: 1;
  height: 5%;
  width: 5%;
  border: 1px solid lightblue;
}

.bomb {
  background-color: gold;
}

.player {
  background-color: #ccc;
}

.alien {
  background-color: #f05;
}

.laser {
  background-color: green
}

.startButton {
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 50%;
  font-family: 'lato',sans-serif;
  font-size: 16px;
  outline: none;
  margin: 30px 0 200px 0;
  font-weight: 900;
  color: black;
  justify-content: center;
}
