* {
  box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  margin: 0;
  font-family: 'lato',sans-serif;
  background-image: url('https://media.giphy.com/media/DC5oGBcCa81Lg2FaJ2/giphy.gif');
  background-size: center;
  background-position: center;
}

h1 {
  font-size: 40px;
}

h1, h2 {
  display: inline;
  text-align: center;
  color: white;
  font-weight: 1000;
  letter-spacing: 5px;
  background: -webkit-linear-gradient(white, #6F9FD8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

h2 {
  margin: 10px;
  font-size: 26px;
}

.grid{
  align-items: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 600px;
  width: 600px;
}

.startScreen, .levelDisplay {
  width: 100vw;
  height: 100vh;
  color: white;
  background-color: #6F9FD8;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-image: url('https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/VOENE67sxikxs86k8/slow-pan-shot-to-earth-from-space-clip-contains-earth-space-florida-bahamas-caribbean-cuba-sun-planet-atmosphere-ocean-images-from-nasa_roeagqdol__F0006.png');
  background-size: cover;
  background-position: center;
}

.grid {
  border: 1px solid white;
  cursor: none;
}

.grid div {
  flex-grow: 1;
  height: 5%;
  width: 5%;
}

.bomb {
  background-image: url('../assets/alienLaser.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.alien {
  background-image: url('../assets/alienSpaceship.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}

.laser {
  background-image: url('../assets/playerLaser.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  transform: rotate(270deg);
}

.startButton {
  height: 100px;
  width: 100px;
  margin: 10px;
  border-radius: 50%;
  font-family: 'lato',sans-serif;
  font-size: 16px;
  outline: none;
  margin: 30px 0 200px 0;
  font-weight: 900;
  color: #034F84;
  justify-content: center;
}

.player {
  background-image: url('../assets/player.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  transform: rotate(90deg);
}

.grid div.explosive{
  background-image: url('../assets/explosion.png');
  background-size: 500%;
}

.grid div.explosive[data-step="0"] {
  background-position-x: 0;
  background-position-y: 0;
}

.grid div.explosive[data-step="1"] {
  background-position-x: calc(100%/3);
  background-position-y: 0;
}

.grid div.explosive[data-step="2"] {
  background-position-x: calc(200%/3);
  background-position-y: 0;
}

.grid div.explosive[data-step="3"] {
  background-position-x: 100%;
  background-position-y: 0;
}

.grid div.explosive[data-step="4"] {
  background-position-x: 0;
  background-position-y: cacl(100%/3);
}

.grid div.explosive[data-step="5"] {
  background-position-x: calc(100%3);
  background-position-y: calc(100%3);
}

.grid div.explosive[data-step="6"] {
  background-position-x: calc(200%3);
  background-position-y: calc(100%3);
}

.grid div.explosive[data-step="7"] {
  background-position-x: 100%;
  background-position-y: calc(100%3);
}

.grid div.explosive[data-step="8"] {
  background-position-x: 0;
  background-position-y: calc(200%/3);
}

.grid div.explosive[data-step="9"] {
  background-position-x: calc(100%/3);
  background-position-y: calc(200%/3);
}

.grid div.explosive[data-step="10"] {
  background-position-x: calc(200%/3);
  background-position-y: calc(200%/3);
}

.grid div.explosive[data-step="11"] {
  background-position-x: 100%;
  background-position-y: calc(200%/3);
}

.grid div.explosive[data-step="12"] {
  background-position-x: 0;
  background-position-y: 100%;
}

.grid div.explosive[data-step="13"] {
  background-position-x: calc(100%/3);
  background-position-y: 100%;
}

.grid div.explosive[data-step="14"] {
  background-position-x: calc(200%3);
  background-position-y: 100%;
}

.grid div.explosive[data-step="15"] {
  background-position-x: 100%;
  background-position-y: 100%;
}

.blink {
  animation: blinker 0.2s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
